In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from platform import python_version

print(np.version.version)
print(python_version())
print(pd.__version__)

1.11.3
3.6.7
0.19.2

In [9]:
data = {'Plant A': [38, 52, 48, 25, 39, 51, 46, 55, 46, 53, 45, 42, 54, 65, 56, 67, 74, 32, 43, 34, 45],
        'Plant B': [32, 39, 54, 47, 41, 34, 30, 36, 36, 38, 46, 58, 52, 29, 76, 46, 46, 45, 78, 80, 49]}
plants = pd.DataFrame(data)
plants

    Plant A  Plant B
0        38       32
1        52       39
2        48       54
3        25       47
4        39       41
5        51       34
6        46       30
7        55       36
8        46       36
9        53       38
10       45       46
11       42       58
12       54       52
13       65       29
14       56       76
15       67       46
16       74       46
17       32       45
18       43       78
19       34       80
20       45       49

In [15]:
# Means
mean1 = np.mean(plants['Plant A'])
mean2 = np.mean(plants['Plant B'])
print(mean1, mean2)

# Standard Deviation
std1 = np.std(plants['Plant A'])
std2 = np.std(plants['Plant B'])
print(std1, std2)

# Variance
var1 = np.var(plants['Plant A'])
var2 = np.var(plants['Plant B'])
print(var1, var2)

# Length
n1 = len(plants['Plant A'])
n2 = len(plants['Plant B'])
print(n1, n2)

# DOF
dof = n1 + n2 - 2
print(dof)

48.0952380952 47.2380952381
11.4928746535 14.6804202675
132.0861678 215.514739229
21 21
40

In [19]:
import math
num = abs(mean1 - mean2)
den = math.sqrt((var1/n1) + (var2/n2))
t_val = num/den
print(t_val)

0.210679562208

In [20]:
p = 0.05
p_val = 2.021
t_val > p_val

False

In [24]:
ttest_ind(plants['Plant A'], plants['Plant B'])

Ttest_indResult(statistic=0.20560220012791661, pvalue=0.83814447417346105)

In [26]:
pd.DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )

      State  RegionName
0  Michigan   Ann Arbor
1  Michigan  Yipsilanti