In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': 'a a b'.split(), 'B': [1,2,3], 'C': [4,6, 5]})
df

   A  B  C
0  a  1  4
1  a  2  6
2  b  3  5

In [9]:
g = df.groupby('A')
type(g)
# g.groups

pandas.core.groupby.groupby.DataFrameGroupBy

In [8]:
g.apply(lambda x: x/x.sum())

          B    C
0  0.333333  0.4
1  0.666667  0.6
2  1.000000  1.0